
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:ital@1&display=swap');


*{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
justify-content: space-between;
  align-items: baseline;
  padding: 40px;
  font-size: 20px;
  flex-wrap: wrap;
}
.log{
  display: flex;
  padding-right:500px;
}
.log>span{
  background-color:#76739c;
  border-radius: 50%;
  font-size: 50px;
  height: 60px;
  width: 60px;
}
.header>a{
  color: #76739c;
}
.header>a:hover{
  background: #76739c;
  color: white;
}

.content{
  height: 650px;
 display: flex;
 align-items: center;
background-image: url("https://images.unsplash.com/photo-1454789548928-9efd52dc4031?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1780&q=80");
background-size: cover;
}

.subContent{
  color:white;
  line-height: 80px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  width:700px;
}

button{
  height:50px;
  width: 170px;
  border: none;
}
 button:hover{
   background-color: #96959d;
 }
  button:active{
    border: 4px solid grey;
  }

  .subHeading{
    margin: 20px;
    padding: 80px;
    text-align: center;
    font-size: 30px;
  }

.card{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  flex-wrap: wrap;
 line-height: 0%;
}
.scardOne,.scardTwo,.scardThree{
  height: 600px;
  width:600px;
}

.description{
  text-align: center;
  padding: 20px;
  line-height: 50px;
  font-size: 20px;
  border: 1px solid #e4e3ec;
}
.description>p{
  line-height: 30px;
}
a{
  text-decoration: none;
}

.imgContainer{
  display: flex;
  flex-direction:column;
  padding: 20px;
}
.imgOneContainer,.imgTwoContainer,.imgThreeContainer{
  display:flex;
  position: relative;
  margin-bottom: 160px;

}

.imgTwoContainer{
  justify-content: flex-end;
}
.imgOne,.imgTwo,.imgThree{
    background-image: url("https://media.istockphoto.com/id/1034528424/photo/grey-concrete-wall.jpg?s=612x612&w=0&k=20&c=ZU4XlOklxc-I4UmjUAg8hth1YkJL0fMrEyO9FcXGz_w=");
    color: white;
    position: absolute;
    padding: 30px;
    font-size: 20px;
    width: 470px;
    height: 220px;
}
  .imgOne,.imgThree{
    top:500px;
    left:500px;
  }
.imgTwo{
  top:500px;
  right: 600px;
}

.imgOne>h1,p{
    margin-bottom: 20px;
}
.imgTwo>h1,p{
    margin-bottom: 20px;
}
.imgThree>h1,p{
    margin-bottom: 20px;
}

.contactUs{
  text-align: center;
  font-size: 30px;
  line-height: 60px;
  margin-top: 60px;
}

.btnContact{
  color: white;
  font-size: 15px;
  background-color: #e60b67 ;
}
.btnContact:hover{
  background-color: #a50649;
}
.btnContact:active{
  margin: 5px;
  border: 5px solid #f43c89;
}
.bottomLine{
  text-align: center;
  margin: 60px;
  padding: 20px;
  font-size: 30px;
  line-height: 60px;
}
.bottom{
  font-size: 20px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  background-color:  #e60b67;
  padding: 65px 60px;

}
.bottomText>h1{
  margin-bottom: 20px;
}
.btnBottom:hover{
  background-color: #d5d5d8;
}

.bottomText{
  padding-right: 220px;
  color:white;
}

.heading{
  text-align: center;
  padding: 40px;
  font-size:60px;
}
.hrline{
  border-bottom: 1px solid #d9dee0;
}

.formContainer{
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #76739c;
  margin-bottom: 60px;
}
.formContainer>input,textarea{
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
  border:2px solid #76739c;
}
.serviceHeading{
  text-align: center;
  font-size: 30px;
}
.serviceHeading>p{
  margin-bottom: 50px;
}
.programContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin:20px;
}
 .pgmSub{
   line-height: 80px;
   display: flex;
   flex-direction: column;
   font-size: 30px;
 }
 .pgmSub p{
   line-height: 40px;
   margin-top: 20px;
   margin-bottom: 30px;
 }
 .pgmImgContainer{
   display: flex;
   flex-direction:column;
   align-items: center;
   padding:20px 80px 40px;
 }
 .pgmImgContainer>p{
   margin-top: 40px;
   margin-bottom: 80px;
   font-size: 30px;
   padding-left: 60px;
   padding-right: 60px;
 }
 .btnCleaning{
   width: 310px;
 }
 .cleanImg{
   padding-bottom: 150px;
 }
 table {
  border-collapse: collapse;
  width: 100%;
}

 th,td {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}
th{
  border-bottom: 2px solid #ddd;
}
.borderBottom >td{
  border-bottom: none;
}

.tableContainer{
  text-align: center;
  padding: 60px;
  margin-bottom: 40px;
}
.tableContainer p{
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 80px;
}


.footer{
  display: flex;
  justify-content: space-between;
  height: 150px;
  background-color: black;
  color: white;
  padding: 70px;
}
.footerLink{
  display: flex;
  flex-direction: column;
}

.footerLink a{
  color: white;
  padding-bottom:10px;
  font-size: 20px;
}
.footerContact a{
  color: white;
}

.footerIcon a{
  color: white;
}
.footerIcon a{
 padding: 6px;
}
